@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


  span, nav {
    margin: 0px;
    text-align: center;
  }

  
  h1 {
    font-family: 'Bebas Neue', cursive;
    color: #999;
    text-align: center;
  }
  
  h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
  }

  /* button {
    background-color: white;
    color: black;
    border: 2px solid #008CBA; 
    font-size: 16px;
    padding: 10px 24px;
    transition-duration: 0.4s;
    margin-right:16px
  }   */


  /* .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  } */


  nav a {
    padding: 20px;
    text-decoration: none;
    margin: 10px 3px;
    display: inline-block;
    background-color: #008CBA;
    color: white;
    /* border-radius: 15px; */
    font-family: 'Bebas Neue', cursive;
  } 
  
  button:hover {
    background-color: #008CBA; 
    color: white;
  }

  /* .alert {
    padding: 20px;
    background-color: green; Red 
    color: white;
    margin-bottom: 15px;
    opacity: 1;
    transition: opacity 0.6s;
  } */

  nav a.active {
    color: #039be5;
  }  